@import '../abstracts/variables';

.root {
  display: inline-block;
  padding: 0;
  padding-bottom: 16px;
  max-width: 320px;
  border-bottom: $border-base;
  text-align: right;
}

.text {
  display: inline-block;
  text-align: left;
}

.date {
  padding: 0 4px;
}

.statusSending {
  border-bottom-style: dotted;
}
.statusSuccess {
  border-bottom-style: solid;
}
.statusFailure {
  border-bottom-color: #F00;
}
